.gpt4__features {
    font-family: var(--font-family);
    color: var(--color-text);
    display: flex;
}

.gpt4__features-header h1 {
    width: 426px;
    height: 180px;

    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
}

.gpt4__features-header p {
    width: 271px;
    height: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    margin-top: 2rem;
    color: #FF8A71;

}

.gpt4__features-container {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gpt4__features-container div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.gpt4__features-container div p {
    width: 334px;
    height: 92px;



    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
}

.gpt4__features-container div h1 {
    width: 182px;
    height: 48px;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    letter-spacing: -0.04em;
}

.gpt4__features-container div h1::before {
    top: -.5rem;
}



@media (max-width: 1050px) {
    .gpt4__features {
        flex-direction: column;
    }

    .gpt4__features-header h1{
        width: 100%;
    }

    .gpt4__features-container div {
        flex-wrap: wrap;
        justify-content: start;

    }

    .gpt4__features-container div h1{
        margin-bottom: 1rem;
        width: 100%;
    }
    .gpt4__features-container div p{
        width: 100%;
    }

    .gpt4__features-container {
        padding: 0;
        margin: 0;
        padding-top: 3rem;
    }
}